<nav>
    <ul>
        <li><a href="/gunn-sports-website/" {% if page.url == "/gunn-sports-website/" %}style="color: red;"{% endif %}>
          Home</a></li>
        <li><a href="/gunn-sports-website/cross-country" {% if page.url == "/gunn-sports-website/cross-country" %}style="color: red;"{% endif %}>
          Cross Country</a></li>
        <li><a href="/gunn-sports-website/track-and-field" {% if page.url == "/gunn-sports-website/track-and-field" %}style="color: red;"{% endif %}>Track and Field</a></li>
        <li><a href="/gunn-sports-website/routes" {% if page.url == "/gunn-sports-website/routes" %}style="color: red;"{% endif %}>Routes</a></li>
        <li><a href="/gunn-sports-website/staff" {% if page.url == "/gunn-sports-website/staff" %}style="color: red;"{% endif %}>Contact</a></li>
        <li><a href="/gunn-sports-website/faq" {% if page.url == "/gunn-sports-website/faq" %}style="color: red;"{% endif %}>FAQ</a></li>
        <li><a href="/gunn-sports-website/blog" {% if page.url == "/gunn-sports-website/blog" %}style="color: red;"{% endif %}>Blog</a></li>
    </ul>
</nav>
