<!DOCTYPE html>
	<html>
		<head>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/gunn-sports-website/">Home</a></li>
		        	<li><a href="/gunn-sports-website/cross-country">Cross Country</a></li>
	        		<li><a href="/gunn-sports-website/track-and-field">Track and Field</a></li>
	        		<li><a href="/gunn-sports-website/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
				<img src="http://nicholaschiang.github.io/images/san-francisco-sillhouette.svg" alt="San Francisco Sillhouette">
	    		<ul>
	        		<li><a href="https://www.facebook.com/nicholas.chiang.31">Facebook</a></li>
	        		<li><a href="https://github.com/nicholaschiang">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
